@model JokesModel

<h1>@Model.Joke</h1>
<a class="btn btn-outline-dark" asp-controller="Jokes" asp-action="Index">~ New joke</a>
<a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">Go back to home page</a>